.home-container {
  display: flex;
  flex-direction: row;
  

  .side-bar {
    width: 15%;
    border: 1px solid purple;
    background: linear-gradient(to bottom, black, #1B242C 10%, #55728C);
    

  }

  .main-content {
    height: 100vh;
    flex: 1;
    color: white;
    padding: 1em;
    background: linear-gradient(to bottom, #55728C, #1B242C, black);

  }
}