.home-container {
  display: flex;
  flex-direction: row;
  

  .side-bar {
    width: 15%;
    color: grey;
    background: linear-gradient(to bottom, black, #1B242C 10%, #55728C);

    nav {
      display: flex;
      flex-direction: column;
      margin: 5em 2em;

      .side-bar-link {
        flex: 1;
        height: 50px;
        color: grey;
        font-size: 1.5em;
        text-decoration: none;  
      }
  
      
    }
    

  }

  .main-content {
    height: 100vh;
    flex: 1;
    color: white;
    padding: 1em;
    background: linear-gradient(to bottom, #55728C, #1B242C, black);

  }

  
}