header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../../public/images/earbuds-girl-1500.png');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60%;
    width: auto;
    height: 600px;
  
    .main-header {
       color: white;
       display: inline-block;
       font-size: 1.5em;
       position: relative;
       top: 35%;
       left: 15%;
    }
    
  }
  
  .btn-container {
    margin: 0 auto;
    width: 500px;
  
    .link-btn {
  
      width: 200px;
      padding: .7em;
      border-radius: 100px;
      background-color: white;
      text-decoration: none;
      color: black;
      font-size: 1em;
      margin: 0 auto;
      display: block;
      text-align: center;
    }
  }