.page-container {
  display: flex;
  flex-direction: row;
  

  .side-bar {
    width: 15%;
    color: grey;
    background: linear-gradient(to bottom, black, #1B242C 10%, #55728C);

    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 5em 2em 0 2em;
      height: 50vh;

      .side-bar-link {
        height: 50px;
        color: grey;
        font-size: 1.5em;
        text-decoration: none;
        
      }
  
      
    }
    

  }

  .main-content {
    min-height: 100vh;
    flex: 1;
    color: white;
    padding: 1em;
    background: linear-gradient(to bottom, #55728C, #1B242C, black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .react-player {
      margin-bottom: .5em;
    }

  }

  
}