@mixin inputStyling {
  height: 12vh;
  width: 95%;
  border: 1px solid white;
  font-size: 2.5em;
  padding-left: .3em;
}


@mixin playlistButtonStyling {
  border-radius: 25px;
  border-color: #87546f;
  width: 180px;
  margin-right: 1.5em;
  height: 55px;
  background-color: #87546f;
  color: white;
  font-size: 1em;

  display: flex;
  justify-content: center;
  align-items: center;


  img {
    width: 30px;
    height: 30px;
    margin-right: 5px;  
  }
}

@mixin buttonContainerStyling($marginTop: 5em, $marginBottom: 5em) {
  height: 20%;
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}


@mixin playlistCardStyling {
  height: 250px;
  width: 250px;
  position: absolute;
  backface-visibility: hidden;
  background-color: rgba(#E84F89, .9); // Change color?
}


// preventResultsOverflow prevents song item results from pushing React player to bottom of page
@mixin prevent-overflow-container($height: 45vh) {
  height: $height;
  overflow: scroll;
}