@import "mixins";

.playlist-editor {
  margin-top: 1em;

  input {
    @include inputStyling;
  }
}

.playlist-ctrl-btn-header {
  margin-top: 1em;
  height: 20%;

  input {
    @include inputStyling;
  }
}

.playlist-ctrl-btn-container {
  @include buttonContainerStyling;

  .playlist-ctrl-btn-header {
    width: 50%;
  }

  button {
    @include playlistButtonStyling;
  }
}

.prevent-playlist-editor-overflow {
  @include prevent-overflow-container(60vh);
}