@import "mixins";

.playlist-editor {
  margin-top: 1em;
}


.playlist-header-container {
  height: 20vh;

  input {
    @include inputStyling;
  }
}

.playlist-buttons-container {
  height: 20vh;
  margin-top: 5em;

  button {
    @include playlistButtonStyling;
  }
}




.playlist-songs-container {

  margin-top: 15em;  // Play around with margin-top
  height: 40vh;

  .playlist-name-container {
    margin-bottom: 2em;
  }

}

.playlist-editor-view-container {
  margin-bottom: 4em;
}