@import "../base/mixins";

.playlistview-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  justify-content: center;

  .playlistview-header {
    width: 100%;
    margin-bottom: 2em;
  }

  .playlist-wrapper {
    perspective: 1000px;
  }

  .playlistcard {
    width: 250px;
    height: 250px;
    border: 1px solid white;
    margin: 5px 10px;
    border-radius: 2px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s;

    .playlistcard-front {
      @include PlaylistCardStyling;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      img {
        width: 100px;
        height: 100px;
        margin-right: 2em;
      }

      h3 {
        margin: 2em auto;
        width: 100%;
      }

      ul li {
        list-style-type: none;
        color: white;
      }
    }

    .playlistcard-back {
      @include PlaylistCardStyling;
      transform: rotateY(-180deg);

      overflow: hidden; // See notes
    }

    &:hover {
      transform: rotateY(-180deg);
    }

    h3 {
      text-align: center;
    }
  }
}

/*
Citations

Playlist
https://medium.com/designer-recipes/understanding-card-flip-animation-using-css-391c40ed3136

*/
