@import "mixins";

.playlist-editor {
  margin-top: 1em;

  input {
    @include inputStyling;
  }
}

.playlist-ctrl-btn-header {
  margin-top: 1em;
  height: 20%;

  input {
    @include inputStyling;
  }
}

.playlist-ctrl-parent-btn-container {
  @include buttonContainerStyling(1.5em);

  .playlist-ctrl-btn-header {
    width: 100%;
  }

  .playlist-ctrl-btns {
    display: flex;
    justify-content: space-around;
  }

  button {
    @include playlistButtonStyling;
  }
}

// styling originally in SongView
// deleted className for now
.prevent-playlist-editor-overflow {
  @include prevent-overflow-container(60vh);
}