@import "mixins";

.playlist-editor {
  margin-top: 1em;

  input {
    @include inputStyling;
  }
}

.playlist-name-container {
  margin-top: 3em;
  margin-bottom: 2em;
}

.playlist-editor-view-container {
  margin-bottom: 4em;
}