@import "../base/mixins";

.save-playlist-editor-main {
  min-height: 150vh;
  flex: 1;
  color: white;
  padding: 1em;
  background: linear-gradient(to bottom, #55728c, #1b242c, black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .react-player {
    margin-bottom: 0.5em;
  }
}

.save-playlist-header-container {
  margin-top: 1em;
  height: 20%;

  input {
    @include inputStyling;
  }
}

.save-playlist-btn-container {
  @include buttonContainerStyling;

  .save-playlist-btn-header {
    width: 50%;
  }

  button {
    @include baseButtonStyling;
  }
}

.playlist-songs-container {
  margin-top: 5em;
  height: 40%;

  .playlist-name-container {
    margin-bottom: 2em;
  }
}
