@import "mixins";

.save-playlist-editor-main {
  min-height: 150vh;
  flex: 1;
  color: white;
  padding: 1em;
  background: linear-gradient(to bottom, #55728C, #1B242C, black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .react-player {
    margin-bottom: .5em;
  }

}



.save-playlist-header-container {
  margin-top: 1em;
  height: 20%;

  input {
    @include inputStyling;
  }
}

.save-playlist-btn-container {
  height: 20%;
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .save-playlist-btn-header {
    width: 50%;
  }

  button {
    @include playlistButtonStyling;
  }

}




.playlist-songs-container {

  margin-top: 5em;  // Play around with margin-top
  height: 40%;

  .playlist-name-container {
    margin-bottom: 2em;
  }

}

.playlist-editor-view-container {
  margin-bottom: 4em;
}


