{
    "env": {
        "browser": true,
        "node": true
      },
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:prettier/recommended"], 
    "rules": {
        "no-use-before-define": 2,
        "no-console": "off"
    },
    "globals": {
      "fetch": false
    }
  }