*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  margin: 0; }

.spinner {
  margin: 2em auto 0;
  border: 15px solid white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border-top-color: transparent;
  animation: rotate 2s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.fixedScrollPlaylistView {
  height: 60vh;
  overflow: scroll; }

.playlist-edit-save-view-container {
  margin-bottom: 4em; }

.error-msg {
  font-size: 2em;
  margin-top: 2.5em; }

.anchor-wrapper {
  text-decoration: none; }
  .anchor-wrapper:link, .anchor-wrapper:visited, .anchor-wrapper:hover, .anchor-wrapper:active {
    text-decoration: none;
    color: white; }

/*
  Spinner Citation

  https://stackoverflow.com/questions/42234855/is-it-possible-to-draw-a-partial-circle-outline-in-css-open-ring-shape  

*/
.home-loading-container {
  text-align: center;
  margin-top: 5em; }

header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(8081186dadf5ea548055c7616a500e72.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
  width: auto;
  height: 600px; }
  header .main-header {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    position: relative;
    top: 35%;
    left: 15%; }

.btn-container {
  margin: 0 auto;
  width: 500px; }
  .btn-container .link-btn {
    width: 200px;
    padding: .7em;
    border-radius: 100px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin: 0 auto;
    display: block;
    text-align: center; }

.form-container {
  margin: 5em auto 0 auto;
  width: 450px; }
  .form-container form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em;
    height: 300px;
    border-bottom: .5px solid grey;
    text-align: center; }
    .form-container form a {
      height: 50px;
      border-radius: 5px;
      margin-top: 1.5em;
      font-size: 17px;
      font-weight: 900;
      display: block;
      text-decoration: none;
      padding-top: 20px; }
      .form-container form a.facebook {
        background-color: #334F8D;
        color: white; }
      .form-container form a.google {
        border: 1px solid grey; }

.page-container {
  display: flex;
  flex-direction: row; }
  .page-container .side-bar {
    width: 15%;
    color: grey;
    background: linear-gradient(to bottom, black, #1B242C 10%, #55728C); }
    .page-container .side-bar nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 5em 2em 0 2em;
      height: 50vh; }
      .page-container .side-bar nav .side-bar-link {
        height: 50px;
        color: grey;
        font-size: 1.5em;
        text-decoration: none; }
  .page-container .main-content {
    min-height: 100vh;
    flex: 1;
    color: white;
    padding: 1em;
    background: linear-gradient(to bottom, #55728C, #1B242C, black);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .page-container .main-content .react-player {
      margin-bottom: .5em; }

.playlist-editor {
  margin-top: 1em; }
  .playlist-editor input {
    height: 12vh;
    width: 95%;
    border: 1px solid white;
    font-size: 2.5em;
    padding-left: .3em; }

.playlist-ctrl-btn-header {
  margin-top: 1em;
  height: 20%; }
  .playlist-ctrl-btn-header input {
    height: 12vh;
    width: 95%;
    border: 1px solid white;
    font-size: 2.5em;
    padding-left: .3em; }

.playlist-ctrl-parent-btn-container {
  height: 20%;
  margin-top: 1.5em;
  margin-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .playlist-ctrl-parent-btn-container .playlist-ctrl-btn-header {
    width: 100%; }
  .playlist-ctrl-parent-btn-container .playlist-ctrl-btns {
    display: flex;
    justify-content: space-around; }
  .playlist-ctrl-parent-btn-container button {
    border-radius: 25px;
    border-color: #87546f;
    width: 180px;
    margin-right: 1.5em;
    height: 55px;
    background-color: #87546f;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center; }
    .playlist-ctrl-parent-btn-container button img {
      width: 30px;
      height: 30px;
      margin-right: 5px; }

.prevent-playlist-editor-overflow {
  height: 60vh;
  overflow: scroll; }

.playlistview-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  justify-content: center; }
  .playlistview-container .playlistview-header {
    width: 100%;
    margin-bottom: 2em; }
  .playlistview-container .playlist-wrapper {
    perspective: 1000px; }
  .playlistview-container .playlistcard {
    width: 250px;
    height: 250px;
    border: 1px solid white;
    margin: 5px 10px;
    border-radius: 2px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s; }
    .playlistview-container .playlistcard .playlistcard-front {
      height: 250px;
      width: 250px;
      position: absolute;
      backface-visibility: hidden;
      background-color: rgba(232, 79, 137, 0.9);
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .playlistview-container .playlistcard .playlistcard-front img {
        width: 100px;
        height: 100px;
        margin-right: 2em; }
      .playlistview-container .playlistcard .playlistcard-front h3 {
        margin: 2em auto;
        width: 100%; }
      .playlistview-container .playlistcard .playlistcard-front ul li {
        list-style-type: none;
        color: white; }
    .playlistview-container .playlistcard .playlistcard-back {
      height: 250px;
      width: 250px;
      position: absolute;
      backface-visibility: hidden;
      background-color: rgba(232, 79, 137, 0.9);
      transform: rotateY(-180deg);
      overflow: hidden; }
    .playlistview-container .playlistcard:hover {
      transform: rotateY(-180deg); }
    .playlistview-container .playlistcard h3 {
      text-align: center; }

/*
Citations

Playlist
https://medium.com/designer-recipes/understanding-card-flip-animation-using-css-391c40ed3136

*/
/*
Notes
-In a BIG playlist with lots of songs, seeting the back card to overflow:scroll
makes the playlist text appear in the front of the card. Used overflow:hidden 
as a compromise.

*/
.save-playlist-editor-main {
  min-height: 150vh;
  flex: 1;
  color: white;
  padding: 1em;
  background: linear-gradient(to bottom, #55728C, #1B242C, black);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .save-playlist-editor-main .react-player {
    margin-bottom: .5em; }

.save-playlist-header-container {
  margin-top: 1em;
  height: 20%; }
  .save-playlist-header-container input {
    height: 12vh;
    width: 95%;
    border: 1px solid white;
    font-size: 2.5em;
    padding-left: .3em; }

.save-playlist-btn-container {
  height: 20%;
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .save-playlist-btn-container .save-playlist-btn-header {
    width: 50%; }
  .save-playlist-btn-container button {
    border-radius: 25px;
    border-color: #87546f;
    width: 180px;
    margin-right: 1.5em;
    height: 55px;
    background-color: #87546f;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center; }
    .save-playlist-btn-container button img {
      width: 30px;
      height: 30px;
      margin-right: 5px; }

.playlist-songs-container {
  margin-top: 5em;
  height: 40%; }
  .playlist-songs-container .playlist-name-container {
    margin-bottom: 2em; }

.search-page {
  margin-top: 1em; }
  .search-page input {
    height: 12vh;
    width: 95%;
    border: 1px solid white;
    font-size: 2.5em;
    padding-left: .3em; }

.prevent-search-overflow {
  height: 45vh;
  overflow: scroll; }

.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2px;
  width: 65%; }
  .song-item .song-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .song-item .song-image-container img {
      width: 100px;
      height: 100px;
      margin-right: 1em; }
  .song-item .playlist-icon-container {
    margin-right: 1em; }
    .song-item .playlist-icon-container img {
      width: 50px;
      height: 50px; }
