*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  margin: 0; }

.page-container {
  display: flex;
  flex-direction: row; }
  .page-container .side-bar {
    width: 15%;
    color: grey;
    background: linear-gradient(to bottom, black, #1B242C 10%, #55728C); }
    .page-container .side-bar nav {
      display: flex;
      flex-direction: column;
      margin: 5em 2em; }
      .page-container .side-bar nav .side-bar-link {
        flex: 1;
        height: 50px;
        color: grey;
        font-size: 1.5em;
        text-decoration: none; }
  .page-container .main-content {
    min-height: 100vh;
    flex: 1;
    color: white;
    padding: 1em;
    background: linear-gradient(to bottom, #55728C, #1B242C, black);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .page-container .main-content .react-player {
      margin-bottom: .5em; }

header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(8081186dadf5ea548055c7616a500e72.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
  width: auto;
  height: 600px; }
  header .main-header {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    position: relative;
    top: 35%;
    left: 15%; }

.btn-container {
  margin: 0 auto;
  width: 500px; }
  .btn-container .link-btn {
    width: 200px;
    padding: .7em;
    border-radius: 100px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin: 0 auto;
    display: block;
    text-align: center; }

.form-container {
  margin: 5em auto 0 auto;
  width: 450px; }
  .form-container form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em;
    height: 300px;
    border-bottom: .5px solid grey;
    text-align: center; }
    .form-container form a {
      height: 50px;
      border-radius: 5px;
      margin-top: 1.5em;
      font-size: 17px;
      font-weight: 900;
      display: block;
      text-decoration: none;
      padding-top: 20px; }
      .form-container form a.facebook {
        background-color: #334F8D;
        color: white; }
      .form-container form a.google {
        border: 1px solid grey; }

.search-page {
  margin-top: 1em; }
  .search-page input {
    height: 12vh;
    width: 95%;
    border: 1px solid white;
    font-size: 2.5em;
    padding-left: .3em; }

.playlist-editor {
  margin-top: 1em; }
  .playlist-editor input {
    height: 12vh;
    width: 95%;
    border: 1px solid white;
    font-size: 2.5em;
    padding-left: .3em; }

.search-results {
  height: 45vh;
  overflow: scroll; }

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2px;
  width: 65%; }
  .search-item .search-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .search-item .search-image-container img {
      width: 100px;
      height: 100px;
      margin-right: 1em; }
  .search-item .playlist-icon-container {
    margin-right: 1em; }
    .search-item .playlist-icon-container img {
      width: 50px;
      height: 50px; }

.song-view-container {
  height: 45vh;
  overflow: scroll; }
  .song-view-container .error-msg {
    font-size: 2em;
    margin-top: 2.5em; }

.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2px;
  width: 65%; }
  .song-item .song-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .song-item .song-image-container img {
      width: 100px;
      height: 100px;
      margin-right: 1em; }
  .song-item .playlist-icon-container {
    margin-right: 1em; }
    .song-item .playlist-icon-container img {
      width: 50px;
      height: 50px; }
