$button-font-size: 17px;


*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
}

header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('../../public/images/earbuds-girl-1500.png');
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
  width: auto;
  height: 600px;

  .main-header {
     color: white;
     display: inline-block;
     font-size: 1.5em;
     position: relative;
     top: 35%;
     left: 15%;
  }
  
}

.btn-container {
  margin: 0 auto;
  width: 200px;
  button {
    padding: .7em;
    width: 150px;
    border-radius: 100px;
    font-size: $button-font-size;
    margin-left: 1.5em;
  }
}

.form-container {
  margin: 5em auto 0 auto;
  width: 450px;
  

  form {
    display: flex;
    flex-direction: column;
    flex: 1;  
    padding: 1em;
    height: 300px;
    border-bottom: .5px solid grey;
    text-align: center;
    

    button {
      height: 50px;
      border-radius: 5px;
      margin-top: 1em;
      font-size: $button-font-size;

      &.fb {
        background-color: #334F8D;
        color: white;
      }
    }
  }
}