*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
}
.spinner {
  margin: 2em auto 0;
  border: 15px solid white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border-top-color: transparent;
  animation: rotate 2s infinite linear;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.fixedScrollPlaylistView {
  height: 60vh;
  overflow: scroll;
}

.playlist-edit-save-view-container {
  margin-bottom: 4em;
}

.error-msg {
  font-size: 2em;
  margin-top: 2.5em;
}

.anchor-wrapper {
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: white;
  }
}

/*
  Spinner Citation

  https://stackoverflow.com/questions/42234855/is-it-possible-to-draw-a-partial-circle-outline-in-css-open-ring-shape  

*/
